.delbut{
    width: 80px;
    padding: 2%;
    background-color: rgb(22, 121, 171);
    border-radius: 10px;
    border: solid;
    border-color: rgb(139, 0, 0);
    font-weight: bold; 
    color:rgb(139, 0, 0);
}

.editbut{
    width: 80px;
    padding: 2%;
    background-color: rgb(22, 121, 171);
    border-radius: 10px;
    border: solid;
    border-color: rgb(245, 245, 220);
    font-weight: bold; 
    color:rgb(245, 245, 220);
    margin-right: 5px;
}

.loginpagecontainer{
    height: 100%;
    margin-top: 15%;
    display: Grid;
    align-items: center;
    justify-content: center;

}

.licontaineritem{
    width: 800px;
    text-align: center;
    display: grid;
    place-items: center;
}

thead{font-size: 19px;}

tbody{padding: 50%;}

tr{border-bottom: 1px solid rgb(245, 245, 220);
}

td{
    padding: 5px;
}

.but{display: flex;}

.logreg{    
    background-color: rgb(16, 44, 87);
    padding: 2%;
    border: solid;
    border-color: rgb(16, 44, 87);
    border-radius: 10px;
    width: 100%;
}

.offer{
    margin-top: 10px;
    color: rgb(245, 245, 220);
}

.offerlink{
    color: #F5D300;
}